<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <h1>Welcome to Wooter!</h1>
  <% if current_user %>
    <!-- logout button  -->
    <form method="POST" action="/users/<%= current_user.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout">
    </form>
    <a href="/">Home</a>
  <% else %>
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign Up</a>
    <!-- sign in / sign up  -->
  <% end %>
  <%= yield %>
</body>
</html>
