<div class="container">
  <h1>Please Sign Into Wooter!!!</h1>
  <%= @error %>
   <form action="/login" method="post">
    <input type="text" name="user[username]" placeholder="Username" />
    <input type="text" name="user[password_hash]" placeholder="Password" />
    <input type="submit" value="Sign In" />
  </form>
   <a href="/signup"><input type="submit" value="Create New User" /></a>
</div>
