
<div class="container">

  <%= @error %>
   <form action="/signin" method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password_hash" placeholder="Password" />
    <input class="homes" type="submit" value="Sign In" />
  </form>

   <form action="/signup"><input class="homes" type="submit" value="Create New User" />
  <img class="home_image" src ="http://i.imgur.com/UlXlciU.png" />

</div>

