


<form method="POST" action="/welcome">
  <input id="woot_text" type="text" name="body" placeholder="Can I get a WOOT?!" />
  <input id="woot_button" type="submit" value="WOOT!"/>
</form>
<h2>Here's what your stars are up to...</h2>
<%= erb :"users/_list" %>
